:root {
    --primaire : #FD2D01;
    --secondaire : #FFD7D7;
    --tertiaire : #4E5166;
}

body {
    display:flex;
    flex-direction:column;
      background-color:var(--secondaire)
}

#logo img{
display:block;
margin:auto;
height:500px;
}

#form{
      display:flex;
    flex-direction:column;
margin:auto;
}


#Email,#Username,#Password{display:flex;
 align-items:baseline;
 justify-content:flex-end;
}


#email,#username,#password{
    width:200px;
    height:15px;
    display:flex;
  margin:5px;
  
    
}
#boutton{
margin:auto;
}

button{ margin:5px;
    background-color:#0dbcbc;
    color:var(--primaire);
    border-color:aquamarine;
    padding:10px;
    border-radius:30px 30px 30px 30px;}


